{% extends "global/Page.html" %}
{% load static %}
{% block title %}Information Sheet{% endblock %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'global/style.css' %}"> 
</head>

<div style="text-align: left;">
    <p><strong>Title of the research project: </strong>&nbsp; Algorithmic Fairness and Choice</p><p><br></p>

    <p><strong>Principal Investigators:</strong>&nbsp; Florian Burnat, James Connolly and Jacob Pereira, Barcelona School of Economics, C/Ramón Trias Fargas, 25-27, 08005 Barcelona, Spain. (Contact through <a href="mailto:florian.burnat@bse.eu">florian.burnat@bse.eu</a>)</p><p><br></p>

    <p><strong>Institution:</strong> Barcelona School of Economics</p><p><br></p>

    <p><strong>Funding agency: </strong>This research study is funded by the Principal Investigators.</p><p><br></p>

    <p><strong>Privacy</strong>: In order to protect your privacy, no directly identifiable information (e.g. name, email, physical address or IP address) will be collected, except for your ProlificID if you are a Prolific User. In the data file shared with members of the research team not involved in data collection, you will be identified by a numerical code that cannot be used to identify you. Only anonymized data will be published. Anonymized data may be reused for other research projects or archived or published in a public repository.&nbsp;</p><p><b><i><u><br></u></i></b></p>
    <p><b>Recipients:</b> Your personal data will be processed by Universitat Pompeu Fabra and the Barcelona School of Economics. Data may be anonymized and published in an open science repository.<br></p><p><b><i><u><br></u></i></b></p>

    <p><strong>Compensation for non-Prolific users</strong>: No compensation will be provided for your participation in this study, other than the immense thanks of the Principal Investigators who cannot thank you enough for your valuable insights.</p><p><br></p>

    <p><strong>Compensation for Prolific users</strong>: You will be paid the amount indicated by Prolific for your participation. Partial participation will not be compensated if the participant decides to withdraw from the session. However, if the session is interrupted due to computer malfunctioning, compensation will be prorated.</p><p><br></p>

    <p><strong>Risks and benefits:</strong> Participating in this study does not entail risks greater than those ordinarily encountered in daily life. We cannot and do not guarantee or promise that you will receive any benefits from this study.</p><p><br></p>

    <p><strong>Voluntary participation:</strong>&nbsp;Your participation in this study is on a voluntary basis and you may withdraw from the study at any time without having to justify why.</p><p><br></p>

    <p><strong>Contact information:</strong> If you have any question about this study, you may contact the Principal Investigators (through <a href="mailto:florian.burnat@bse.eu">florian.burnat@bse.eu</a>).</p><p><br></p>

    <p>If you have doubts, complaints, or questions about this study or about your rights as a research participant, you may contact UPF's Institutional Committee for the Ethical Review of Projects (CIREP) by phone (<a href="tel:+34935422186">+34 935 422 186</a>) or by email (<a href="mailto:secretaria.cirep@upf.edu">secretaria.cirep@upf.edu</a>). CIREP is not part of the research team and will treat any information you send confidentially.</p>

    <p>In accordance with the General Data Protection Regulation (GDPR) 2016/679 (EU), we provide the following information:</p>

    <p><strong>Data controller:</strong> Universitat Pompeu Fabra, Pl. de la Mercè, 10-12. 08002 Barcelona, Spain. Tel. <a href="tel:+34 935 422 000">+34 935 422 000</a>. You can contact UPF’s Data Protection Officer by sending an email to the address referred to on the following webpage: <a href="mailto:dpd@upf.edu">dpd@upf.edu</a>.</p>

    <p><strong>Purposes of the processing:</strong>&nbsp;Carrying out the above-mentioned research project. Personal data will be kept during the execution of the project and two more years after its finalization for its scientific validation.</p>

    <p><strong>Legal basis:</strong>&nbsp;Data owner's consent. You can withdraw your consent at any time.</p>

    <p><strong>Recipients:</strong> Your personal data will only be processed by Universitat Pompeu Fabra and will not be transferred to third parties without your consent, except otherwise provided by law.</p>

    <p><b>Rights</b>: You can access your data; request their rectification, deletion, and in certain cases their portability; you may object to their processing and apply for their limitation by following the procedures described at <a href="https://www.upf.edu/web/proteccio-dades/drets">www.upf.edu/web/proteccio-dades/drets</a>. You can contact UPF's Data Protection officer (<a href="mailto:dpd@upf.edu">dpd@upf.edu</a>) for any queries or if you feel that your rights are not properly respected. Should you not be satisfied, you may file a complaint with the Catalan Data Protection Authority (<a href="https://apdcat.gencat.cat/ca/inici">apdcat.gencat.cat</a>).</p><p><br></p>

    <p>Thank you very much for your attention and participation!</p>
    
</div>

<form method="POST">
    <button type="submit">Next</button>
</form>

{% endblock %}
